Git Commands:

1-git config --global user.email 'your_email'
2-git config --global user.name 'your-name'
3-git init
4-git add [Filename] || -A
5-git status
6-git commit -m 'Reauirements.txt'
7-git remote add origin https://github.com/Afaq-Jutt/HackZilla.git
8-git push origin master
9-git clone reponame
10-git pull origin master